!.gitignore
!**/.mvn
!**/.mvn/**
!/docker
!/docker/**
!pom.xml
!docker-compose.yaml
!docker-compose.*.yaml
!README.md
!*-service
!*-service/src
!*-service/src/**
!*-service/docker
!*-service/docker/**
!frontend
!frontend/**
!api-gateway
!api-gateway/src
!api-gateway/src/**
!scripts/start-dev.sh
!.env
!*.conf
!scripts
!scripts/**
!nginx-templates
!nginx-templates/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/frontend/src/react-envelope/
/helper-service/.gitattributes
/helper-service/mvnw
/helper-service/mvnw.cmd
/**/target/**
/**/target
