.content {
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    align-self: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.inputGroup label {
    font-weight: bold;
}

.inputGroup select {
    padding: 8px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--font-color);
    border-radius: 4px;
    outline: none;
}
.inputGroup select:focus {
    border: 1px solid var(--accent-color);
}

.calendar {
    align-self: center;
}